{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">Class</div>
        <div class="col">Subject</div>
        <div class="col">Full Marks</div>
        <div class="col">Pass Marks</div>
    </div>
</div>

<div class="container">
        <div class="row">
                <div class="col-1">Roll</div>
                <div class="col-2">Name</div>
                <div class="col-1">Gender</div>
                <div class="col-1">Address</div>
                <div class="col-1">Total</div>
                <div class="col-1">GPA</div>
        </div>
    <form>
        {% csrf_token %}
        {% for student in students %}
            <div class="row">
                    <div class="col-1">{{student.id}}</div>
                    <div class="col-2">{{student.name}}</div>
                    <div class="col-1">{{student.gender}}</div>
                    <div class="col-1">{{student.address}}</div>
                    <div class="col-7">
                    </div>
            </div>
        {% endfor %}
        <center><button type="submit">Submit</button></center>
    </form>
</div>


<!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_form">

        <div class="row">
          <div class="offset-lg-3 col-lg-3">
            <h5 class="form_heading">
              Newsletter
            </h5>
          </div>
          <div class="col-md-6">
            <form action="#">
              <input type="text" placeholder="Enter Your email">
              <button>
                subscribe
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_logo">
            <div>
              <a href="">
                <img src="{% static 'images/school.png' %}" alt="" />
                <span>
                  Velvet School
                </span>
              </a>
            </div>
            <p>
              "Quality education is our commitment." It is our faith that knowledge alone cannot be the key of success.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links ">
            <h5>
              Contact Us
            </h5>
            <p class="pr-0 pr-md-4 pr-lg-5">
              <i class="fa fa-phone" aria-hidden="true">  025-585851</i>
              <i class="fa fa-mobile" aria-hidden="true">  +977-9804064652</i>
              <i class="fa fa-map-marker" aria-hidden="true">  Itahari-6, Sunsari</i>
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              INFORMATION
            </h5>
            <p class="pr-0 pr-md-4 pr-md-5">
              Velvet English Secondary School is imparting quality education to the students since 2068 B.S.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="pl-0 pl-lg-5 pl-md-4">
            <h5>
              Follow Us
            </h5>
            <p>
                <i class="fa fa-facebook p-2" style="font-size:24px;" aria-hidden="true"></i>
                <i class="fa fa-whatsapp p-2" style="font-size:24px;" aria-hidden="true"></i>
                <i class="fa fa-youtube-play p-2" style="font-size:24px;" aria-hidden="true"></i>
            </p>

          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}